<!DOCTYPE html>
<html lang="vi"  xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<!-- NAVBAR -->

<!-- navtop -->
<div class="navtop" th:fragment="fragmentNavTop">
  <div id="logged" class="text-white font-bold btn-navtop text-1c25">
    <span class="cursor-pointer" th:if="${message1 != null}" th:utext="${message1}" ></span>
    <img class="avatar cursor-pointer" th:src="@{/images/icon.png}">
  </div>

</div>


<div class="container1">
  <!-- navleft -->
  <div class="navleft" th:fragment="fragmentNavLeft">
    <div style="padding-top: 1rem;" class="logo">
      <img class="logo" th:src="@{/images/logo.jpg}">
    </div>
    <div class="menu text-white text-1">
      <div id="nav-home" class="nav-item nav-item-parent">
        <i style="font-size: 1.25rem;" class="fa fa-home pr-1" aria-hidden="true"></i>
        <a th:href="@{/}" style="text-decoration: none;color: white">Khách Sạn</a>
      </div>

      <div   class="nav-item pl-3c4" th:if="${message1 != 'admin' && message1 != null }">
        <a th:href="@{/checkin}" style="text-decoration: none;color: white">Thuê Phòng</a>

      </div>
      <div   class="nav-item pl-3c4" th:if="${message1 != 'admin' && message1 != null }">
        <a th:href="@{/checkout}" style="text-decoration: none;color: white">Trả Phòng</a>
      </div>
      <div   class="nav-item pl-3c4">
        <a th:href="@{/quanlythue}" style="text-decoration: none;color: white" th:if="${message1 == 'admin'}">QL Thuê</a>
      </div>
      <div   class="nav-item pl-3c4">
        <a th:href="@{/khachhang}" style="text-decoration: none;color: white" th:if="${message1 == 'admin'}">QL TT Khách Hàng</a>
      </div>
      <div   class="nav-item pl-3c4">
        <a th:href="@{/quanlyphong}" style="text-decoration: none;color: white" th:if="${message1 == 'admin'}">QL Phòng</a>
      </div>
      <div   class="nav-item pl-3c4">
        <a th:href="@{/quanlynhanvien}" style="text-decoration: none;color: white" th:if="${message1 == 'admin'}">QL Nhân Viên</a>
      </div>
      <div   class="nav-item pl-3c4">
        <a th:href="@{/thongkenam}" style="text-decoration: none;color: white" th:if="${message1 == 'admin'}">Thống kê năm</a>
      </div>
      <div>
        <div id="btn-logout" class="logout" th:if="${message1 != null}">
          <i style="font-size: 1.25rem;" class="fa fa-sign-out pr-1" aria-hidden="true" ></i>
          <a th:href="@{/logout}" style="text-decoration: none;color: white">Đăng xuất</a>
        </div>
        <div id="btn-login" class="login" th:if="${message1 == null}">
          <i style="font-size: 1.25rem;" class="fa fa-sign-in pr-1" aria-hidden="true" ></i>
          <a th:href="@{/login}" style="text-decoration: none;color: white">Đăng nhập</a>
        </div>
      </div>
    </div>


  </div>
  <!-- content -->

  <div class="slideshow-container">
    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/hotel.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/pool.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/room_vip.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/room_custom.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/restaurant.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/laundryroom.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/sparoom.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/saunaroom.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/karaokeroom.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/pubroom.jpg}">
    </div>

    <div class="mySlides fade">
      <img style="display: block; margin-top: auto; width: 1250px; height: 700px;" th:src="@{/images/arcaderoom.jpg}">
    </div>
  </div>


  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>



</div>

</body>
<script>
  var slideIndex = 0;
  showSlides(slideIndex);
  function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      if (n > slides.length - 1) {slideIndex = 0}
      if (n < 0) {slideIndex = slides.length - 1}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      slides[slideIndex].style.display = "block";
      setTimeout(showSlides, 500);
  }
  function plusSlides(n) {
      showSlides(slideIndex += n);
  }

</script>

</html>